RSYNC_SOURCE="mirrors.nomadlogic.org::www/nightly"
LOCAL_DIR="${TOPDIR}/nightly"
TORRENT_DIR="${TOPDIR}/public"

TRACKERS=(
        'udp://tracker.opentrackr.org:1337/announce'
        'udp://tracker.openbittorrent.com:6969/announce'
        'http://tracker.openbittorrent.com:80/announce'
);

WEB_MIRRORS=(
        https://mirrors.nomadlogic.org/nightly/
        https://mirror.esc7.net/ravynos/nightly/
        https://mirror2.sandyriver.net/pub/ravynos/nightly/
        https://mirror.clarkson.edu/ravynos/nightly/
        http://ftp.nvg.ntnu.no/pub/mirrors2/mirrors.nomadlogic.org/www/nightly/
        https://mirrors.dotsrc.org/ravynos/nightly/
);
